html {
  min-height: 100vh;
  min-width: 350px;
  display: flex;
  padding-top: 3%;
}
body {
  background-image: url(images/crew_bg/background-crew-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  font-family: var(--barlow_condensed);
  font-weight: 300;
  color: var(--font_color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*  CONTENT BLOCK AND EXPLORE BUTTON ------------------------------------ */
.content-wrapper {
  margin-left: 10%;
  display: flex;
  flex: 2;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding-bottom: 8%;
}
.title_1,
.title,
.content-main_role,
.content-main_heading {
  text-transform: uppercase;
}
.title_1,
.title {
  margin: 2% 0 0 0;
  letter-spacing: 4.75px;
  font-weight: 400;
  height: 4rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}
.title_1 {
  display: none;
  margin: 2% 0;
}
.title_1 span,
.title span {
  color: var(--font-color);
  font-weight: 600;
  letter-spacing: 0.2em;
  margin-right: 1rem;
}
.content-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
.content-main_role {
  color: var(--font-color);
  font-family: var(--font_heading);
  font-size: clamp(1.7rem, 3vw, 2rem);
  font-weight: 400;
}
.content-main_heading {
  margin: 4% 0;
  font-family: var(--font_heading);
  font-weight: 400;
  font-size: clamp(3.5rem, 4vw, 5rem);
}
.content-main_bio {
  padding-right: 5%;
  color: var(--font-color);
  line-height: 1.6em;
  font-size: clamp(1.4rem, 1.7vw, 5rem);
}
.crew-member {
  display: flex;
  align-items: end;
  justify-content: center;
  flex: 1;
  padding: 2% 5% 0 5%;
  max-width: 100%;
}
.crew-member img {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.dot-wrapper {
  display: flex;
}
.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 1rem;
  background-color: var(--btnhover-color);
}
.dot:hover {
  background-color: var(--font-color);
}
.sticky-color {
  background-color: var(--font_color) !important;
}

@media screen and (max-width: 1024px) {
  html {
    min-height: 100%;
    height: auto;
    padding-top: 0;
  }
  body {
    background-image: url(images/crew_bg/background-crew-tablet.jpg);
  }
  .content-wrapper {
    flex: 2;
    justify-content: space-between;
    margin: 0 5%;
    flex-direction: column;
    align-items: center;
  }
  .content {
    padding-bottom: 8%;
  }
  .content-main {
    align-items: center;
    margin-top: 5%;
  }
  .content-main_heading {
    margin: 2% 0;
  }
  .content-main_bio {
    padding: 0;
    width: 60%;
    text-align: center;
  }
  .dot-wrapper {
    justify-content: center;
    margin-top: 5%;
  }
  .crew-member {
    width: 60%;
    flex: 0;
  }
}
@media screen and (max-width: 820px) {
  .content-main_heading {
    font-size: clamp(2.5rem, 6vw, 3.5rem);
    text-align: center;
  }
  .content-main_role {
    font-size: clamp(1.3rem, 4vw, 1.7rem);
  }
  .content-main_bio {
    width: 70%;
  }
}
@media screen and (max-width: 670px) {
  .content-main_bio {
    width: 80%;
  }
}
@media screen and (max-width: 520px) {
  body {
    background-image: url(images/crew_bg/background-crew-mobile.jpg);
  }
  .content-main_heading {
    margin: 4% 0;
  }
  .crew-member {
    width: 70%;
    order: 1;
  }
  .crew-member img {
    z-index: -2;
  }
  .crew-member::after {
    z-index: -1;
    position: absolute;
    content: ".";
    width: 80%;
    height: 0.1rem;
    background-color: var(--btnhover-color);
  }
  .content {
    order: 2;
  }
  .content-main {
    order: 3;
    margin: 0;
  }
  .title {
    display: none;
  }
  .title_1 {
    display: flex;
    justify-content: center;
  }
  .content-main_heading {
    font-size: clamp(2rem, 6vw, 2.5rem);
  }
  .content-main_bio {
    width: 90%;
    font-size: clamp(1.2rem, 1.7vw, 1.4rem);
  }
  .dot-wrapper {
    order: 1;
    margin: 10% 0 5% 0;
  }
  .dot {
    height: 0.8rem;
    width: 0.8rem;
  }
}
@media screen and (max-width: 455px) {
}
@media screen and (max-width: 400px) {
}
