@import url("https://fonts.googleapis.com/css2?family=Abel&family=Aboreto&family=Cinzel:wght@400;500;600;700;800&family=Viaoda+Libre&family=Vollkorn&display=swap");

/* font-family: 'Aboreto', cursive;
font-family: 'Cinzel', serif;
font-family: 'Viaoda Libre', cursive;
font-family: 'Vollkorn', serif; */

:root {
  font-size: 16px;

  --font-head1: "Vollkorn", serif;
  --font-head2: "Viaoda Libre", cursive;
  --font-head3: "Cinzel", serif;
  --font-univ: "Abel", sans-serif;
  --font-color: #adbec6;
  --font-color2: #ecf9ff;
  --btnhover-color: rgba(173, 190, 198, 0.308);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background-image: url(images/home_bg/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  min-height: 600px;
  min-width: 874px;
  font-family: var(--font-univ);
  font-weight: 200;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*  NAVIGATION BAR ------------------------------------ */
.nav {
  position: fixed;
  width: 100%;
  height: 80px;
  top: 20px;
  padding: 40px;
  display: flex;
  align-items: center;
}
.logo-wrapper {
  width: 100px;
}
.nav__line {
  height: 1.5px;
  background-color: rgba(136, 136, 136, 0.374);
  width: 100%;
  flex: 1;
}
.nav-wrapper {
  flex: 0 0 570px;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  justify-content: end;
}
/* ----- NAVIGATION BUTTON ----- */
.nav-button {
  display: none;
}
.nav-button .button__close {
  display: none;
}
.nav-wrapper::before {
  z-index: -1;
  position: absolute;
  content: ".";
  right: -2.5rem;
  height: 4.7rem;
  width: 750px;
  min-width: 58%;
  backdrop-filter: brightness(140%) blur(20px);
}
.nav-wrapper li {
  display: block;
}
.nav-wrapper__num {
  font-weight: 900;
  color: var(--font-color2);
}
.nav-wrapper li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: inherit;
  margin: 1.5em 1.5em 0 1.5em;
  padding-bottom: 1.5em;
}
.nav-wrapper li a:hover {
  border-bottom: 2px solid var(--font-color);
}
.nav-wrapper li a:active,
body .nav-border {
  border-bottom: 2px solid var(--font-color2);
  color: var(--font-color2);
}
/*  CONTENT BLOCK AND EXPLORE BUTTON ------------------------------------ */
.content-wrapper {
  padding: 8rem;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 0 1 330px;
}
.content h2 {
  font-size: clamp(0.95rem, 4.2vw, 1.2rem);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.content__heading {
  font-size: 115px;
  font-weight: 400;
  color: var(--font-color2);
}
.content__para {
  font-size: 0.9rem;
}
.content__heading,
.button {
  font-family: var(--font-head3);
}
.button {
  font-size: 25px;
  align-self: flex-end;
  background-color: aliceblue;
  color: #0f0e12;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.button::before {
  position: absolute;
  content: ".";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--btnhover-color);
  display: grid;
  place-items: center;
  z-index: -1;
  transition: width, height, 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button:hover::before {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 1024px) {
  body {
    background-image: url(images/home_bg/background-home-tablet.jpg);
    min-height: 900px;
    min-width: 520px;
  }
  .nav__line {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }
  .nav-wrapper {
    margin-right: 0;
  }
  .nav-wrapper::before {
    width: 640px;
  }
  .content-wrapper {
    padding: 5rem;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .content {
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    flex: 0 1 330px;
  }
  .content__para {
    text-align: center;
    font-size: 1.1rem;
  }
  .button {
    align-self: center;
  }
}

@media screen and (max-width: 820px) {
  .nav__line {
    visibility: hidden;
  }
  .nav-wrapper {
    position: absolute;
    right: 0;
    top: -20px;
    height: 100vh;
    flex: 0 0 30%;
    padding: 8rem 5rem 0 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    display: none;
  }
  .nav-block {
    display: flex;
  }
  /* ----- NAVIGATION BUTTON ----- */
  .nav-button {
    z-index: 2;
    display: grid;
    place-items: center;
  }
  .nav-wrapper::before {
    right: 0;
    top: 0;
    height: 100%;
    width: 100% !important;
    backdrop-filter: brightness(90%) blur(20px);
  }
  .nav-wrapper li {
    margin-bottom: 2rem;
  }
  .nav-wrapper li a:hover,
  .nav-wrapper li a:active
  .nav-border {
    border-bottom: none !important;
    color: var(--font-color2) !important;
  }
  body .content__para {
    font-size: 1rem;
  }
}

@media screen and (max-width: 520px) {
  :root {
    font-size: 17px;
  }
  html body {
    background-image: url(images/home_bg/background-home-mobile.jpg);
    min-width: 360px;
    min-height: 750px;
  }
  body .content-wrapper {
    padding: 1rem;
  }
  .content {
    width: 90%;
  }
  .content__heading {
    font-size: 100px;
  }
  .content__para {
    font-size: 0.9rem !important;
  }
  .button {
    width: 190px;
    height: 190px;
  }
  .button:hover::before {
    width: 290px;
    height: 290px;
  }
}
