html {
  min-height: 100vh;
  height: 100%;
  min-width: 350px;
  display: grid;
  place-items: end;
}
body {
  background-image: url(images/home_bg/background-home-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 95%;
  width: 100%;
  font-family: var(--font-univ);
  font-weight: 200;
  color: var(--font_color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*  CONTENT BLOCK AND EXPLORE BUTTON ------------------------------------ */
.content-wrapper {
  padding: 10%;
  display: flex;
  flex: 0;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex: 0 1 25rem;
}
.content h2,
.content p {
  color: var(--subheading);
}
.content h2 {
  font-family: var(--barlow_condensed);
  font-size: clamp(0.9rem, 3.2vw, 1.6rem);
  text-transform: uppercase;
  letter-spacing: 4.75px;
}
.content__heading {
  font-size: clamp(8rem, 4.2vw, 9rem);
  font-weight: 400;
  color: var(--font-color2);
}
.content__para {
  font-size: 1.2rem;
}
.content__heading,
.button {
  font-family: var(--font_heading);
  text-transform: uppercase;
}
.button span {
  font-size: 1.5rem;
}
.buttom-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.button {
  background-color: var(--font_color);
  color: var(--backgroud);
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.button::before {
  position: absolute;
  content: ".";
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: var(--btnhover-color);
  display: grid;
  place-items: center;
  z-index: -1;
  transition: width, height, 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.button:hover::before {
  width: 20rem;
  height: 20rem;
}
@media screen and (max-width: 1024px) {
  html {
    min-height: 100%;
    height: auto;
  }
  body {
    background-image: url(images/home_bg/background-home-tablet.jpg);
    height: 100%;
  }
  .content-wrapper {
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .content {
    justify-content: space-evenly;
    align-items: center;
    width: min-content;
  }
  .content__heading {
    font-size: clamp(8rem, 20vw, 10rem);
  }
  .content__para {
    text-align: center;
    line-height: 1.9rem;
  }
  .buttom-container {
    height: 25rem;
  }
  .button {
    width: 16rem;
    height: 16rem;
  }
  .button::before {
    width: 7rem;
    height: 7rem;
  }
  .button:hover::before {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-width: 820px) {
  .content h2 {
    font-weight: 500;
  }
  .buttom-container {
    height: 20rem;
  }
  .button {
    width: 14rem;
    height: 14rem;
  }
  .button:hover::before {
    width: 22rem;
    height: 22rem;
  }
}

@media screen and (max-width: 520px) {
  html {
    min-height: 100%;
    height: auto;
  }
  body {
    background-image: url(images/home_bg/background-home-mobile.jpg);
  }
  .content-wrapper {
    padding: 5%;
  }
  .content {
    width: auto;
  }
  .content__heading {
    font-size: clamp(6.5rem, 20vw, 10rem);
  }
  .buttom-container {
    justify-content: center;
    height: 18rem;
  }
  .button {
    width: 12rem;
    height: 12rem;
  }
  .button:hover::before {
    width: 17rem;
    height: 17rem;
  }
}
