html {
  width: 100vw;
  min-height: calc(100vw / 1.77);
}
body {
  background-image: url(images/technology_bg/background-technology-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  font-family: var(--font-univ);
  font-weight: 200;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}
.content-wrapper {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: calc(100vh - 100px);
}
.content-wrapper h3 {
  word-spacing: 0.5em;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: clamp(24px, 1.5vw, 3vh);
  color: var(--font-color1);
  padding-left: 9%;
}
.content-wrapper h3 span {
  color: var(--font-color2);
}
.content {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 12% 42% 38%;
  grid-template-areas:
    "count cont vehicle"
    "count cont vehicle"
    "count cont vehicle";
  grid-column-gap: 4%;
  padding: 0 0 4% 4%;
  flex: 1;
  height: calc(100vh - 135px);
}
.content-counting {
  grid-area: count;
  display: grid;
  grid-template-rows: 3;
  grid-row-gap: 2em;
  place-items: center;
  place-content: center;
}
.counting__count {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--font-color1);
  color: var(--font-color2);
  display: grid;
  place-items: center;
}
.counting__count:hover,
.sticky-color {
  border-color: var(--font-color2);
  color: var(--font-color4);
  background-color: var(--font-color2);
}
.inner-content {
  grid-area: cont;
  display: grid;
  grid-template-rows: 3;
  grid-row-gap: 1em;
  place-content: center;
}
.inner-content h1 {
  font-family: var(--font-head3);
  font-weight: 400;
  color: var(--font-color2);
  font-size: clamp(30px, 4vw, 7vh);
}
.inner-content h2,
.content-description {
  font-size: clamp(17px, 1.5vw, 2vh);
  line-height: 1.6em;
}
.content-description {
  text-transform: none;
  width: 80%;
}
.content-vehicle {
  grid-area: vehicle;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}
.vehicle__port {
  display: block;
}
.vehicle__land {
  display: none;
}
.content-vehicle {
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}
/*  CONTENT BLOCK AND EXPLORE BUTTON ------------------------------------ */

@media screen and (max-width: 1024px) {
  html {
    height: auto;
  }
  body {
    background-image: url(images/technology_bg/background-technology-tablet.jpg);
    min-height: 900px;
    min-width: 520px;
  }
  .content-wrapper {
    height: 100%;
    margin-top: 65px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 720px) {
}
@media screen and (max-width: 520px) {
  html body {
    background-image: url(images/technology_bg/background-technology-mobile.jpg);
    min-width: 350px;
    min-height: 750px;
  }
}
@media screen and (max-width: 455px) {
}
@media screen and (max-width: 400px) {
}
